.cart {
  background-color: #ff4d00;
  padding: 2rem;
  color: #ffffff;
}

.cart__header {
  font-size: x-large;
}

.cart__products-box {
  height: auto;
  box-sizing: border-box;
  overflow-y: auto;
}

.cart__products {
  display: block;
  height: 20rem;
  background-color: #ffb11c;
  list-style: none;
}

.cart Button {
  color: #ffffff;
  background-color: #ffb11c;
  border: 1px solid #ff4d00;
}

/* .ant-layout-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}
[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}
> .code-box-demo > div > .ant-layout {
  margin-bottom: 48px;
}
> .code-box-demo > div > .ant-layout:last-child {
  margin: 0;
} */
